.react-calendar-heatmap text {
  font-size: 10px;
  fill: #aaa;
}

.react-calendar-heatmap rect:hover {
  stroke: #555;
  stroke-width: 1px;
}

/*
 * Default color scale
 */

.react-calendar-heatmap .color-empty {
  fill: #eeeeee;
}

.react-calendar-heatmap .color-filled {
  fill: #b54141;
}

/*
 * Github color scale
 */

.react-calendar-heatmap .color-github-0 {
  fill: #e67979; 
}
.react-calendar-heatmap .color-github-1 {
  fill: #cc6060; 
}
.react-calendar-heatmap .color-github-2 {
  fill: #bb5050; 
}
.react-calendar-heatmap .color-github-3 {
  fill: #b54141; 
}
.react-calendar-heatmap .color-github-4 {
  fill: #a73434; 
}