.month-heatmap {
  max-width: 700px;
}

.month-heatmap .month {
  width: 30px;
  height: 34px;
  background: #eee;
  float: left;
  margin: 3px;
  display:table;
}

.month-heatmap .month span {
  font-size: 15px;
  display:table-cell;
  vertical-align:middle;
}