.week-heatmap {
  max-width: 308px;
  margin: auto;
}

.week-heatmap .weekday {
  width: 38px;
  height: 42px;
  background: #eee;
  float: left;
  margin: 3px;
  display:table;
}

.week-heatmap .weekday span {
  font-size: 15px;
  display:table-cell;
  vertical-align:middle;
}