.day-heatmap {
  max-width: 750px;
  margin: auto;
}

.day-heatmap .day {
  width: 24px;
  height: 28px;
  background: #eee;
  float: left;
  margin: 3px;
  display:table;
}

.day-heatmap .day span {
  font-size: 15px;
  display:table-cell;
 vertical-align:middle;
}