.day-heatmap {
  max-width: 750px;
  margin: auto;
}

.day-heatmap .day {
  width: 24px;
  height: 28px;
  background: #eee;
  float: left;
  margin: 3px;
  display:table;
}

.day-heatmap .day span {
  font-size: 15px;
  display:table-cell;
 vertical-align:middle;
}

.day-heatmap .done-0 {
  background: #e67979; 
}
.day-heatmap .done-1 {
  background: #cc6060; 
}
.day-heatmap .done-2 {
  background: #bb5050; 
}
.day-heatmap .done-3 {
  background: #b54141; 
}
.day-heatmap .done-4 {
  background: #a73434; 
}