@import url('https://fonts.googleapis.com/css?family=Fira+Mono" rel="stylesheet');

.App {
  text-align: center;
  user-select: none;
}

.App-icon {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.Settings-icon {
  animation: App-logo-spin infinite 20s linear;
  height: 30px;
}

.App-header {
  padding: 20px;
  color: #e3e3e3;
  margin-top: 210px;
  margin-bottom: 5%;
  font-size: 30px;
  font-family: 'Fira Mono', monospace;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  max-width: 750px;
  margin: 2% auto;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.timestamp {
  position: fixed;
  bottom: 0px;
  width: 100%;
  padding: 20px;
}

.timestamp span{
  width: 100px;
  margin: auto;
  color: grey;
}

.dropdown-menu{
  padding: 0px !important;
  text-align: center !important;
}

.button-group {
  border-radius: 0px;
}

.button-group button{
  color: black !important;
  border: none;
  outline:none;
}

.button-group .active {
  background: #cfcfcf !important;
  color: white;
}

.Dropdown-menu-container {
  position: fixed;
  top: 0px;
  right: 0px;
  padding: 10px;
}

.Dropdown-menu button{
  background: transparent !important;
  background-color: transparent;
  border: none;
}

.Dropdown-menu button:focus { box-shadow: none !important; }