@import url('https://fonts.googleapis.com/css?family=Poiret+One');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet');

.App {
  text-align: center;
}

.App-icon {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.Settings-icon {
  animation: App-logo-spin infinite 20s linear;
  height: 30px;
}

.App-header {
  padding: 20px;
  color: #e3e3e3;
  margin-top: 30%;
  margin-bottom: 5%;
  font-size: 30px;
  /*font-family: 'Poiret One', cursive;*/
  font-family: 'Source Code Pro', monospace;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  max-width: 750px;
  margin: 2% auto;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.timestamp {
  position: fixed;
  bottom: 0px;
  width: 100%;
  padding: 20px;
}

.timestamp span{
  width: 100px;
  margin: auto;
  color: grey;
}

.Dropdown-menu-container {
  position: fixed;
  top: 0px;
  right: 0px;
  padding: 10px;
}

.Dropdown-menu button{
  background: transparent !important;
  background-color: transparent;
  border: none;
}

.Dropdown-menu button:focus { box-shadow: none; }